In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import itertools
from collections import Counter

In [68]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
254,tt0780521,105000000,267045765,The Princess and the Frog,Anika Noni Rose|Bruno Campos|Keith David|Micha...,Ron Clements|John Musker,Every Love Story Begins With a Kiss...,"A waitress, desperate to fulfill her dreams as...",97,Romance|Family|Animation|Music,Walt Disney Pictures|Walt Disney Animation Stu...,12/8/2009,6.5,2009
427,tt0817230,52000000,216485654,Valentine's Day,Jessica Alba|Jessica Biel|Bradley Cooper|Eric ...,Garry Marshall,A Love Story. More or Less.,More than a dozen Angelenos navigate Valentine...,125,Comedy|Romance,New Line Cinema|Karz Entertainment|Rice Films,2/10/2010,5.6,2010
328,tt1186830,70000000,39041505,Agora,Rachel Weisz|Max Minghella|Oscar Isaac|Ashraf ...,Alejandro AmenÃ¡bar,"Alexandria, Egypt. 391 A.D. The World Changed ...","A historical drama set in Roman Egypt, concern...",127,Adventure|Drama|History,HimenÃ³ptero|Telecinco Cinema|Mod Producciones...,5/17/2009,6.6,2009
1263,tt0765446,40000000,74597643,Escape from Planet Earth,Brendan Fraser|Rob Corddry|Ricky Gervais|Jessi...,Callan Brunker,Earth's greatest secrets are about to break out!,Astronaut Scorch Supernova finds himself caugh...,89,Animation|Comedy|Adventure|Family|Science Fiction,Rainmaker Entertainment|Mainframe Entertainmen...,2/14/2013,5.8,2013
1133,tt0159365,79000000,173013509,Cold Mountain,Jude Law|Nicole Kidman|RenÃ©e Zellweger|Eileen...,Anthony Minghella,Find the strength. Find the courage. No matter...,In this classic story of love and devotion set...,154,Drama,Miramax Films|Mirage Enterprises|Castel Film R...,12/24/2003,6.5,2003

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [69]:
# creating a dict for answers
answers = {} 


# transforming values of 'cast', 'director', 'release_date'
# and 'genres' columns into lists
data['cast'] = data.cast.apply(lambda x: x.split('|'))
data['director'] = data.director.apply(lambda x: x.split('|'))
data['genres'] = data.genres.apply(lambda x: x.split('|'))
data['release_date'] = data.release_date.apply(lambda x: x.split('/'))


# creating 'profit' column
data['profit'] = data['revenue']-data['budget']


# function for finding pairs of actors of the same film
def actor_pairs(s):
    actor_list=[]
    for s in data.cast:
        actor_list.extend(itertools.combinations(s, 2))
    return actor_list


data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
62,tt2057392,13000000,32848185,Eye in the Sky,"[Helen Mirren, Aaron Paul, Alan Rickman, Iain ...",[Gavin Hood],Welcome to the new front line,A military officer in command of a drone opera...,102,"[Drama, Thriller, War]",Entertainment One|Moonlighting Films|Raindog F...,"[9, 11, 2015]",7.2,2015,19848185
1349,tt0312004,30000000,192452832,The Curse of the Were-Rabbit,"[Peter Sallis, Helena Bonham Carter, Ralph Fie...","[Steve Box, Nick Park]",Something bunny is going on...,Cheese-loving eccentric Wallace and his cunnin...,85,"[Adventure, Animation, Comedy, Family]",Aardman Animations|DreamWorks Animation,"[9, 4, 2005]",6.6,2005,162452832
1676,tt0413300,258000000,890871626,Spider-Man 3,"[Tobey Maguire, Kirsten Dunst, James Franco, T...",[Sam Raimi],The battle within.,The seemingly invincible Spider-Man goes up ag...,139,"[Fantasy, Action, Adventure]",Columbia Pictures|Laura Ziskin Productions|Mar...,"[5, 1, 2007]",5.8,2007,632871626
358,tt0970452,45000000,7810000,Solomon Kane,"[James Purefoy, Pete Postlethwaite, Alice Krig...",[Michael J. Bassett],Fight evil... With evil.,"A nomadic 16th century warrior, condemned to h...",104,"[Adventure, Fantasy, Action, Science Fiction]",Davis-Films|Czech Anglo Productions|Wandering ...,"[9, 16, 2009]",5.5,2009,-37190000
27,tt2802144,81000000,403802136,Kingsman: The Secret Service,"[Taron Egerton, Colin Firth, Samuel L. Jackson...",[Matthew Vaughn],Manners maketh man.,The story of a super-secret spy organization t...,130,"[Crime, Comedy, Action, Adventure]",Twentieth Century Fox Film Corporation|Marv Fi...,"[1, 24, 2015]",7.6,2015,322802136

# 1. У какого фильма из списка самый большой бюджет?

In [74]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [6]:
data.sort_values(by='budget', ascending=False).head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]",Walt Disney Pictures|Jerry Bruckheimer Films|M...,"[5, 11, 2011]",6.3,2011,641683000
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski],"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,"[Adventure, Fantasy, Action]",Walt Disney Pictures|Jerry Bruckheimer Films|S...,"[5, 19, 2007]",6.8,2007,661000000
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,"[Robert Downey Jr., Chris Hemsworth, Mark Ruff...",[Joss Whedon],A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,"[Action, Adventure, Science Fiction]",Marvel Studios|Prime Focus|Revolution Sun Studios,"[4, 22, 2015]",7.4,2015,1125035767

ВАРИАНТ 2

In [7]:
data[data.budget==data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]",Walt Disney Pictures|Jerry Bruckheimer Films|M...,"[5, 11, 2011]",6.3,2011,641683000

# 2. Какой из фильмов самый длительный (в минутах)?

In [75]:
answers['2'] = '2. Gods and Generals (tt0279111)'
# +

In [9]:
data.sort_values(by='runtime', ascending=False).head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",[Ronald F. Maxwell],The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]",Turner Pictures|Antietam Filmworks,"[2, 21, 2003]",5.8,2003,-43076064
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",[Peter Jackson],The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,"[Adventure, Fantasy, Action]",WingNut Films|New Line Cinema,"[12, 1, 2003]",7.9,2003,1024888979
1736,tt0462322,67000000,25037897,Grindhouse,"[Kurt Russell, ZoÃ« Bell, Rosario Dawson, Vane...","[Robert Rodriguez, Eli Roth, Quentin Tarantino...",A double feature that'll tear you in two!,Two full length feature horror movies written ...,191,"[Thriller, Action, Horror]",Big Talk Productions|Yer Dead Productions|Wein...,"[4, 6, 2007]",6.5,2007,-41962103

Вариант 2

In [10]:
data[data.runtime==data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",[Ronald F. Maxwell],The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]",Turner Pictures|Antietam Filmworks,"[2, 21, 2003]",5.8,2003,-43076064

# 3. Какой из фильмов самый короткий (в минутах)?

In [76]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
# +

In [12]:
data.sort_values(by='runtime').head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Stephen Anderson, Don Hall]",Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,"[Animation, Family]",Walt Disney Pictures|Walt Disney Animation Stu...,"[4, 13, 2011]",6.8,2011,-15540000
930,tt0280030,20000000,109862682,Return to Never Land,"[Harriet Owen, Blayne Weaver, Jeff Bennett, Ka...","[Robin Budd, Donovan Cook]",The Classic Continues,The classic tale of 'Peter Pan' continues in D...,72,"[Adventure, Fantasy, Animation, Family]",Walt Disney Pictures|Walt Disney Television An...,"[2, 14, 2002]",6.2,2002,89862682
1097,tt0283426,20000000,135680000,The Jungle Book 2,"[John Goodman, Haley Joel Osment, Mae Whitman,...",[Steve Trenbirth],Feel the jungle beat,"Mowgli, missing the jungle and his old friends...",72,"[Family, Animation, Adventure]",Walt Disney Pictures|Walt Disney Television An...,"[2, 7, 2003]",5.6,2003,115680000

Вариант 2

In [13]:
data[data.runtime==data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Stephen Anderson, Don Hall]",Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,"[Animation, Family]",Walt Disney Pictures|Walt Disney Animation Stu...,"[4, 13, 2011]",6.8,2011,-15540000

# 4. Какова средняя длительность фильмов?

In [77]:
answers['4'] = '2. 110'
# +

In [15]:
data.describe()
# runtime mean

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

Вариант 2

In [16]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [78]:
answers['5'] = '1. 107'
# +

In [18]:
data.describe()
# 50%

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

Вариант 2

In [19]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [79]:
answers['6'] = '5. Avatar (tt0499549)'
# +

In [21]:
data.sort_values(by='profit', ascending=False).head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]",Ingenious Film Partners|Twentieth Century Fox ...,"[12, 10, 2009]",7.1,2009,2544505847
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...",[J.J. Abrams],Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,"[Action, Adventure, Science Fiction, Fantasy]",Lucasfilm|Truenorth Productions|Bad Robot,"[12, 15, 2015]",7.5,2015,1868178225
0,tt0369610,150000000,1513528810,Jurassic World,"[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",[Colin Trevorrow],The park is open.,Twenty-two years after the events of Jurassic ...,124,"[Action, Adventure, Science Fiction, Thriller]",Universal Studios|Amblin Entertainment|Legenda...,"[6, 9, 2015]",6.5,2015,1363528810

Вариант 2

In [22]:
data[data.profit==data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]",Ingenious Film Partners|Twentieth Century Fox ...,"[12, 10, 2009]",7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [80]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
# +

In [24]:
data.sort_values(by='profit').head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]",Walt Disney Pictures|Jerry Bruckheimer Films|I...,"[7, 3, 2013]",6.0,2013,-165710090
1616,tt0318974,145000000,25819961,The Alamo,"[Dennis Quaid, Billy Bob Thornton, Jason Patri...",[John Lee Hancock],You will never forget,Based on the 1836 standoff between a group of ...,137,"[Western, History, War]",Imagine Entertainment|Touchstone Pictures,"[4, 7, 2004]",5.9,2004,-119180039
809,tt1305591,150000000,38992758,Mars Needs Moms,"[Seth Green, Joan Cusack, Dan Fogler, Breckin ...",[Simon Wells],Mom needs a little space.,"When Martians suddenly abduct his mom, mischie...",88,"[Adventure, Animation, Family]",Walt Disney Animation Studios,"[3, 9, 2011]",5.5,2011,-111007242

Вариант 2

In [25]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]",Walt Disney Pictures|Jerry Bruckheimer Films|I...,"[7, 3, 2013]",6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [81]:
answers['8'] = '1. 1478'
# +

In [27]:
len(data[data.revenue - data.budget>0])

1478

Вариант 2

In [28]:
len(data[data.profit>0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [82]:
answers['9'] = '4. The Dark Knight (tt0468569)'
# +

In [30]:
data[data.release_year==2008].sort_values(by='profit', ascending=False).head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]",DC Comics|Legendary Pictures|Warner Bros.|Syncopy,"[7, 16, 2008]",8.1,2008,816921825
603,tt0367882,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,"[Harrison Ford, Cate Blanchett, Shia LaBeouf, ...",[Steven Spielberg],The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,"[Adventure, Action]",Lucasfilm|Paramount Pictures,"[5, 21, 2008]",5.6,2008,601636033
607,tt0795421,52000000,609841637,Mamma Mia!,"[Meryl Streep, Pierce Brosnan, Amanda Seyfried...",[Phyllida Lloyd],Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,"[Comedy, Romance]",Universal Pictures|Internationale Filmprodukti...,"[6, 30, 2008]",6.2,2008,557841637

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [83]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
# +

In [32]:
data.query('2012<=release_year<=2014').sort_values(by='profit').head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]",Walt Disney Pictures|Jerry Bruckheimer Films|I...,"[7, 3, 2013]",6.0,2013,-165710090
1214,tt0790736,130000000,61648500,R.I.P.D.,"[Jeff Bridges, Ryan Reynolds, Kevin Bacon, Ste...",[Robert Schwentke],To protect and serve the living,A recently slain cop joins a team of undead po...,96,"[Fantasy, Action, Comedy, Crime]",Universal Pictures|Original Film|Dark Horse En...,"[7, 18, 2013]",5.3,2013,-68351500
1007,tt1374992,60000000,8106475,Upside Down,"[Kirsten Dunst, Jim Sturgess, Timothy Spall, J...",[Juan Diego Solanas],Two worlds. One future.,In an alternate universe where twinned worlds ...,104,"[Romance, Science Fiction, Drama, Fantasy]",Onyx Films|Studio 37|Jouror Productions|France...,"[9, 27, 2012]",6.1,2012,-51893525

# 11. Какого жанра фильмов больше всего?

In [84]:
answers['11'] = '3. Drama'
# +

In [34]:
data_genres = data[:]
data_genres = data_genres.explode('genres')
data_genres['genres'].value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [85]:
answers['12'] = '1. Drama'
# +

In [36]:
data_genres[data_genres.profit>0]['genres'].value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [86]:
answers['13'] = '5. Peter Jackson'
# +

In [38]:
data_director = data[:]
data_director = data_director.explode('director')
data_director.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [87]:
answers['14'] = '3. Robert Rodriguez'
# +

In [40]:
data_director[data_director.genres.apply(lambda genre: 'Action' in genre)]['director'].value_counts()

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Rob Pritts            1
Kevin Bray            1
Miguel Sapochnik      1
Joe Russo             1
Wolfgang Petersen     1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [88]:
answers['15'] = '3. Chris Hemsworth'
# +

In [42]:
data_actor = data[:]
data_actor = data_actor.explode('cast')
data_actor[data_actor.release_year == 2012].groupby(['cast'])['revenue'].sum().sort_values(ascending=False)

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [89]:
answers['16'] = '3. Matt Damon'
# +

In [44]:
data_actor[data_actor.budget > data_actor.budget.mean()]['cast'].value_counts()

Matt Damon            18
Adam Sandler          17
Angelina Jolie        16
Tom Cruise            15
Eddie Murphy          15
                      ..
Dawn French            1
Britt Robertson        1
Chris Miller           1
Giancarlo Giannini     1
Art Parkinson          1
Name: cast, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [90]:
answers['17'] = '2. Action'
# +

In [46]:
data_genres[data_genres.cast.apply(lambda actors: 'Nicolas Cage' in actors)].genres.value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
War                 1
Romance             1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [91]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
# +

In [48]:
data[data.production_companies.apply(lambda companies: 'Paramount Pictures' in companies)].sort_values(by='profit').head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",[Kathryn Bigelow],Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,"[Thriller, Drama, History]",Paramount Pictures|Intermedia Films|National G...,"[7, 19, 2002]",6.0,2002,-64831034
1123,tt0300556,80000000,19480739,Timeline,"[Paul Walker, Frances O'Connor, Gerard Butler,...",[Richard Donner],They had to travel into the past to save the f...,A group of archaeological students become trap...,116,"[Action, Adventure, Science Fiction]",Paramount Pictures|Donners' Company|Mutual Fil...,"[11, 26, 2003]",5.1,2003,-60519261
1722,tt0435705,70000000,18211013,Next,"[Nicolas Cage, Julianne Moore, Jessica Biel, T...",[Lee Tamahori],"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,"[Action, Science Fiction, Thriller]",Paramount Pictures|Virtual Studios|Revolution ...,"[4, 24, 2007]",5.9,2007,-51788987

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [92]:
answers['19'] = '5. 2015'
# +

In [50]:
data.groupby('release_year')['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [93]:
answers['20'] = '1. 2014'
# +

In [52]:
data[data.production_companies.str.contains('Warner Bros')].groupby('release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [94]:
answers['21'] = '4. Сентябрь'
# +

In [54]:
data_month = data[:]
data_month['release_month'] = data_month['release_date'].apply(lambda date: date[0])
data_month['release_month'].value_counts()

<ipython-input-54-7e8757a53693>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_month['release_month'] = data_month['release_date'].apply(lambda date: date[0])

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [95]:
answers['22'] = '2. 450'
# +

In [56]:
len(data_month.query('release_month in ["6", "7", "8"]'))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [96]:
answers['23'] = '4. Peter Jackson'
# +

In [58]:
data_month = data_month.explode('director')
data_month.query('release_month in ["12", "1", "2"]')['director'].value_counts()

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Martin Scorsese      4
Adam Shankman        4
                    ..
Louis Leterrier      1
Renny Harlin         1
Andy Fickman         1
Tom Tykwer           1
Kevin Macdonald      1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [97]:
answers['24'] = '5. Four By Two Productions'
# +

In [60]:
# creating DF data_lenght, dividing companies in 'production_companies'
data_length = data[:]
data_length.production_companies = data_length['production_companies'].apply(lambda x: x.split('|'))
data_length = data_length.explode('production_companies')

# creating column with length of film titles
data_length['title_len'] = data_length['original_title'].apply(lambda title: len(title))

# finding mean length of film titles by company
data_length.groupby('production_companies')['title_len'].mean().sort_values(ascending=False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: title_len, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [98]:
answers['25'] = '3. Midnight Picture Show'
# +

In [62]:
# creating column which contains length of film overviews in words
data_length['overview_len'] = data_length['overview'].apply(lambda overviews: len(overviews.split(' ')))

# sort production companies by mean length of their overviews
data_length.groupby('production_companies')['overview_len'].mean().sort_values(ascending=False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_len, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [99]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [64]:
# sorting DF by rating and displaying upper 1% of the DF
data.sort_values('vote_average', ascending=False).head(int(0.01*len(data)))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...","[7, 16, 2008]",8.1,2008,816921825
118,tt0816692,165000000,621752480,Interstellar,"[Matthew McConaughey, Jessica Chastain, Anne H...",[Christopher Nolan],Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,"[Adventure, Drama, Science Fiction]","[Paramount Pictures, Legendary Pictures, Warne...","[11, 5, 2014]",8.0,2014,456752480
125,tt2084970,14000000,233555708,The Imitation Game,"[Benedict Cumberbatch, Keira Knightley, Matthe...",[Morten Tyldum],The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,"[History, Drama, Thriller, War]","[Black Bear Pictures, Bristol Automotive]","[11, 14, 2014]",8.0,2014,219555708
9,tt2096673,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",[Pete Docter],Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,"[Comedy, Animation, Family]","[Walt Disney Pictures, Pixar Animation Studios...","[6, 9, 2015]",8.0,2015,678708609
34,tt3170832,6000000,35401758,Room,"[Brie Larson, Jacob Tremblay, Joan Allen, Sean...",[Lenny Abrahamson],Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,"[Drama, Thriller]","[Element Pictures, No Trace Camping, A24, Dupe...","[10, 16, 2015]",8.0,2015,29401758
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,"[Leonardo DiCaprio, Jonah Hill, Margot Robbie,...",[Martin Scorsese],EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,"[Crime, Drama, Comedy]","[Paramount Pictures, Appian Way, EMJAG Product...","[12, 25, 2013]",7.9,2013,292000694
128,tt2267998,61000000,369330363,Gone Girl,"[Ben Affleck, Rosamund Pike, Carrie Coon, Neil...",[David Fincher],You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,"[Mystery, Thriller, Drama]","[Twentieth Century Fox Film Corporation, Regen...","[10, 1, 2014]",7.9,2014,308330363
1191,tt2024544,20000000,187000000,12 Years a Slave,"[Chiwetel Ejiofor, Michael Fassbender, Lupita ...",[Steve McQueen],The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,"[Drama, History]","[Plan B Entertainment, Regency Enterprises, Ri...","[10, 18, 2013]",7.9,2013,167000000
119,tt2015381,170000000,773312399,Guardians of the Galaxy,"[Chris Pratt, Zoe Saldana, Dave Bautista, Vin ...",[James Gunn],All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,"[Action, Science Fiction, Adventure]","[Marvel Studios, Moving Picture Company (MPC),...","[7, 30, 2014]",7.9,2014,603312399
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",[Peter Jackson],The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,"[Adventure, Fantasy, Action]","[WingNut Films, New Line Cinema]","[12, 1, 2003]",7.9,2003,1024888979
1800,tt0209144,9000000,39723096,Memento,"[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,...",[Christopher Nolan],Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,"[Mystery, Thriller]","[Summit Entertainment, Newmarket Capital Group...","[10, 11, 2000]",7.9,2000,30723096
370,tt1375666,160000000,825500000,Inception,"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elle...",[Christopher Nolan],Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,"[Action, Thriller, Science Fiction, Mystery, A...","[Legendary Pictures, Warner Bros., Syncopy]","[7, 14, 2010]",7.9,2010,665500000
872,tt0253474,35000000,120072577,The Pianist,"[Adrien Brody, Thomas Kretschmann, Frank Finla...",[Roman Polanski],Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,"[Drama, War]","[Bac Films, Canal+Polska, Heritage Films, Stud...","[9, 24, 2002]",7.9,2002,85072577
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,"[Ralph Fiennes, Tony Revolori, F. Murray Abrah...",[Wes Anderson],A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,"[Comedy, Drama]","[Fox Searchlight Pictures, Scott Rudin Product...","[2, 26, 2014]",7.9,2014,144600318
1188,tt1798709,23000000,47351251,Her,"[Joaquin Phoenix, Scarlett Johansson, Rooney M...",[Spike Jonze],A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,"[Romance, Science Fiction, Drama]",[Annapurna Pictures],"[12, 18, 2013]",7.8,2013,24351251
28,tt1895587,20000000,88346473,Spotlight,"[Mark Ruffalo, Michael Keaton, Rachel McAdams,...",[Tom McCarthy],Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,"[Drama, Thriller, History]","[Participant Media, Open Road Films, Anonymous...","[11, 6, 2015]",7.8,2015,68346473
124,tt2245084,165000000,652105443,Big Hero 6,"[Scott Adsit, Ryan Potter, Daniel Henney, T.J....","[Don Hall, Chris Williams]",From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,"[Adventure, Family, Animation, Action, Comedy]","[Walt Disney Pictures, Walt Disney Animation S...","[10, 24, 2014]",7.8,2014,487105443
177,tt2582846,12000000,305151265,The Fault in Our Stars,"[Shailene Woodley, Ansel Elgort, Nat Wolff, La...",[Josh Boone],One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,"[Romance, Drama]","[Fox 2000 Pictures, Temple Hill Entertainment,...","[5, 16, 2014]",7.8,2014,293151265

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [100]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'
# +

In [70]:
pd.Series(actor_pairs(data.cast)).value_counts()

(Daniel Radcliffe, Emma Watson)                    8
(Daniel Radcliffe, Rupert Grint)                   8
(Rupert Grint, Emma Watson)                        7
(Ben Stiller, Owen Wilson)                         6
(Johnny Depp, Helena Bonham Carter)                6
                                                  ..
(Katie Featherston, Christopher Nicholas Smith)    1
(Bruce Willis, Tracy Morgan)                       1
(Sara Paxton, Christopher McDonald)                1
(Naomi Watts, Jack Black)                          1
(Zooey Deschanel, Jon Heder)                       1
Length: 18121, dtype: int64

# Submission

In [101]:
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '4. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [102]:
len(answers)

27